:root {
  --YELLOW: #ffdb01;
  --DARK: #181710;
  --LIGHT: #ffffff;

  --LEGENDARY: linear-gradient(45deg, #8F5421, #5A300C);
  --LEGENDARY_BORDER: #D3721C;

  --SET: linear-gradient(45deg, #47721C, #29440D);
  --SET_BORDER: #72BE27;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s;
}

body {
  color: var(--LIGHT);
  font-family: "Roboto", sans-serif;
  height: 100vh;
  width: 100vw;
  padding: 5rem;
  background: var(--DARK);
}

#root {
  width: 100%;
  height: 100%;
  background-color: var(--DARK);
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
  height: 100%;
  width: 100%;
}

.flex :is(#image, #set) {
  margin: 2rem;
  border: 1px solid #000;
}

.flex > #image {
  width: 25%;
  position: relative;
  background: #000;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.flex > #set {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  #items {
    background-color: red;
    display: grid;
    width: max-content;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(10, 50px);
    grid-template-areas:
      " . . . head head . . . "
      ". shoulders shoulders head head neck . ."
      ". shoulders shoulders chest chest . . ."
      " hands hands . chest chest . arms arms"
      " hands hands .  chest chest . arms arms"
      " hands hands .  belt belt . arms arms"
      " . . leftRing  legs legs rightRing . ."
      " leftHand leftHand . legs legs .  rightHand rightHand"
      " leftHand leftHand . feets feets .  rightHand rightHand"
      " leftHand leftHand . feets feets .  rightHand rightHand";
    gap: 1rem;

    #head {
      grid-area: head;
    }
    #shoulders {
      grid-area: shoulders;
    }
    #neck {
      grid-area: neck;
    }
    #chest {
      grid-area: chest;
    }
    #hands {
      grid-area: hands;
    }

    #arms {
      grid-area: arms;
    }

    #leftRing {
      grid-area: leftRing;
    }

    #rightRing {
      grid-area: rightRing;
    }

    #legs {
      grid-area: legs;
    }

    #leftHand {
      grid-area: leftHand;
    }

    #rightHand {
      grid-area: rightHand;
    }

    #feets {
      grid-area: feets;
    }

    #belt {
      grid-area: belt;
    }
  }
  #skills {
    width: 50%;
    width: max-available;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    padding: 1rem;

    .flex {
      height: auto;
    }
  }
}

#hardSkills,
#softSkills {
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--YELLOW);
  color: var(--DARK);
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem 0;

  > div {
    border: 1px solid var(--DARK);
    flex: 1;
    height: 10%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    text-align: center;
  }
}
