:root {
  --YELLOW: #ffdb01;
  --DARK: #181710;
  --LIGHT: #ffffff;

  --SKILL: radial-gradient(var(--YELLOW) 40%, var(--DARK) 60%);
  --SKILL_HOVER: radial-gradient(var(--YELLOW) 0%, var(--DARK) 100%);


  --LEGENDARY: linear-gradient(45deg, #8f5421, #5a300c);
  --LEGENDARY_BORDER: #d3721c;

  --SET: linear-gradient(45deg, #47721c, #29440d);
  --SET_BORDER: #72be27;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s;
}

body {
  color: var(--LIGHT);
  font-family: "Roboto", sans-serif;
  height: 100vh;
  width: 100vw;
  padding: 5rem;
  background: var(--DARK);
}

#root {
  width: 100%;
  height: 100%;
  background: var(--DARK);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .flex {
    display: flex;
    height: 100%;
    width: 100%;
  }
}

.flex :is(#image, #set) {
  margin: 2rem;
}

#informations {
  /* width: 30%; */
  flex: 1;
}
