:root {
  --YELLOW: #ffdb01;
  --DARK: #181710;
  --LIGHT: #ffffff;

  --LEGENDARY: linear-gradient(45deg, #8F5421, #5A300C);
  --LEGENDARY_BORDER: #D3721C;

  --SET: linear-gradient(45deg, #47721C, #29440D);
  --SET_BORDER: #72BE27;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s;
}

body {
  color: var(--LIGHT);
  font-family: "Roboto", sans-serif;
  height: 100vh;
  width: 100vw;
  padding: 5rem;
  background: var(--DARK);
}

#root {
  width: 100%;
  height: 100%;
  background-color: var(--DARK);
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
  height: 100%;
  width: 100%;
}

.flex :is(#image, #set) {
  margin: 2rem;
  border: 1px solid #000;
}




